[Unit]
Description=visitlog
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5s
User=visitlog
Group=visitlog

ExecStart=/home/deploy/visitlog

PermissionsStartOnly=true
ExecStartPre=/bin/touch /var/log/visitlog
ExecStartPre=/bin/chown visitlog:adm  /var/log/visitlog
ExecStartPre=/bin/chmod 755  /var/log/visitlog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sleepservice

[Install]
WantedBy=multi-user.target
